<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="Factura">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>Factura</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="Cliente">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>Cliente</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="Producto">
            <ion-icon name="square"></ion-icon>
            <ion-label>Producto</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>